<html>

<head>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/fontawesome/all.min.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="index"></div>
</body>
<script src="js/common/index.js"></script>

</html>